@model Hospital.Models.Offer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="OfferedById" class="control-label"></label>
                <input asp-for="OfferedById" class="form-control" readonly />
                <span asp-validation-for="OfferedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="DrugId" class="form-control">
                    @foreach (var item in (List<Drug>)@ViewData["drugs"])
                    {
                        <option value=@item.Id class="option">@item.Name</option>
                    }
                </select>
            </div>
            <select asp-for="PharmacyId" class="form-control">
                @foreach (var item in (List<Pharmacy>)@ViewData["pharmacies"])
                {
                    <option value=@item.Id class="option">@item.Name</option>
                }
            </select>
            <div class="form-group" hidden>
                <label asp-for="CreatedByUserId" class="control-label"></label>
                <input asp-for="CreatedByUserId" class="form-control" />
                <span asp-validation-for="CreatedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
